.navbar{
    flex-grow: 0.5;
    text-align: left;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 130px;
    background: #2e209e;
}

.navbarItem{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.navbarItem a{
    color: white !important;
}

hr{
    width: 30px;
    margin: 0px;
    margin-top: 25px;
}

.navIcon{
    margin-right: 20px;
}